@import "global.scss";

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  margin-top: 80px;
  margin-bottom: 160px;
}
.footer-text {
  font-family: "Gotham Ultra";
  text-align: center;
  font-size: 30px;
  line-height: 48px;
  margin-bottom: 68px;
}
.up-arrow {
  transform: rotate(180deg);
  &:hover {
    cursor: pointer;
  }
}

@media all and (max-width: 768px) {
  .footer {
    margin-top: 80px;
    margin-bottom: 80px;
  }
}
