@import "global.scss";

.colors-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
.color-divider {
  width: 20%;
  height: 6px;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  margin: 80px 0;
  width: 100%;
  max-width: 1000px;
  // margin-bottom: 160px;
}
.footer-text {
  font-family: "RobotoMono";
  text-decoration: none;
  color: #28282a;
  text-align: center;
  font-size: 30px;
  line-height: 48px;
  margin-bottom: 68px;
  &:hover {
    color: rgb(3, 183, 112);
  }
}
.up-arrow {
  transform: rotate(180deg);
  &:hover {
    cursor: pointer;
  }
}
.up-arrow-hover {
  transform: rotate(180deg) scale(1.2);
  &:hover {
    cursor: pointer;
  }
}

@media all and (max-width: 768px) {
  .footer {
    margin-top: 40px;
    margin-bottom: 67px;
  }
}

.toast-message {
  position: fixed;
  top: 30px;
  left: 50%;
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  font-family: "RobotoMono";
  font-size: 18px;
  background-color: #28282a;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #fff;
  padding: 16px;
  position: fixed;
  z-index: 1;
}

.toast-message.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
