@import "global.scss";

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  margin: 80px 0;
  width: 100%;
  max-width: 1000px;
  // margin-bottom: 160px;
}
.footer-text {
  font-family: "RobotoMono";
  text-decoration: none;
  color: #28282a;
  text-align: center;
  font-size: 30px;
  line-height: 48px;
  margin-bottom: 68px;
  &:hover {
    color: rgb(3, 183, 112);
  }
}
.up-arrow {
  transform: rotate(180deg);
  &:hover {
    cursor: pointer;
  }
}
.up-arrow-hover {
  transform: rotate(180deg) scale(1.2);
  &:hover {
    cursor: pointer;
  }
}

@media all and (max-width: 768px) {
  .footer {
    margin-top: 40px;
    margin-bottom: 67px;
  }
}
