@font-face {
  font-family: "Gotham Black";
  src: url("../../static/fonts/Gotham/Gotham-Black.otf");
}

@font-face {
  font-family: "Gotham Ultra";
  src: url("../../static/fonts/Gotham/Gotham-Ultra.otf");
}

@font-face {
  font-family: "Gotham Book";
  src: url("../../static/fonts/Gotham/Gotham-Book.otf");
}

html {
  background-color: rgb(3, 183, 112);
}

// body {
//   font-family: "Gotham Ultra";
//   font-size: 48px;
// }
