@font-face {
  font-family: "Gotham-Ultra";
  src: local("../../static/fonts/Gotham/Gotham-Ultra.otf"), local(Gotham-Ultra),
    url("../../static/fonts/Gotham/Gotham-Ultra.otf");
}

@font-face {
  font-family: "Gotham-Black";
  src: local("../../static/fonts/Gotham/Gotham-Black.otf"), local(Gotham-Black),
    url("../../static/fonts/Gotham/Gotham-Black.otf");
}

@font-face {
  font-family: "Gotham-Book";
  src: local("../../static/fonts/Gotham/Gotham-Book.otf"), local(Gotham-Book),
    url("../../static/fonts/Gotham/Gotham-Book.otf");
}

html {
  font-size: 1vw;
  background-color: var(--bg);
}
