@import "global.scss";

.wrapper {
  width: 100vw;
  margin: 0 auto;
}
.landing-container {
  max-width: 1200px;
  width: 92vw;
  margin-top: 50px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .landing-container {
    // width: 100%;
    // margin: 0 auto;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }
}
.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media all and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    width: 92%;
  }
}
.navbar-items-container {
  display: flex;
  align-items: center;
  padding: 0;
}
@media all and (max-width: 768px) {
  .navbar-items-container {
    width: 92%;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
.navbar-items {
  margin-left: 20px;
  &:hover {
    cursor: pointer;
  }
}
@media all and (max-width: 768px) {
  .navbar-items {
    margin: 0;
    margin-right: 20px;
  }
}
.navbar-text {
  font-family: "Gotham Book";
  height: 40px;
  width: 243px;
  color: #28282a;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 36px;
  -webkit-user-select: none;
  &:hover {
    cursor: pointer;
  }
}
@media all and (max-width: 768px) {
  .navbar-text {
    width: 92%;
    margin-left: 10px;
    margin-right: 10px;
  }
}
.hello-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 400px;
  margin-top: 120px;
}
.hello-text {
  font-family: "Gotham Ultra";
  height: 400px;
  position: absolute;
  left: -11px;
  max-width: 1200px;
  color: #28282a;
  font-size: 418px;
  text-align: center;
  -webkit-user-select: none;
}
@media all and (max-width: 768px) {
  .hello-container {
    height: unset;
    width: 100%;
    position: unset;
    display: flex;
    margin: 0;

    justify-content: flex-start;
    align-items: center;
  }
  .hello-text {
    position: unset;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 31vw;
    left: -2px;
    height: unset;
    text-align: center;
  }
}
.description-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.description {
  width: 100%;
  margin-top: 120px;
  color: #28282a;
  font-family: "Gotham Book";
  font-size: 2rem;
}

@media all and (max-width: 768px) {
  .description {
    width: 92%;
    margin-top: 4px;
    font-size: 1.25rem;
    line-height: 30px;
  }
}
.underline {
  border-bottom: 4px solid #2ed694;
  &:hover {
    cursor: pointer;
  }
}
@media all and (max-width: 768px) {
  .underline {
    border-bottom: none;
  }
}
.title-arrow-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-top: 120px;
}
@media all and (max-width: 768px) {
  #arrow {
    display: none;
    height: unset;
  }
  .title-arrow-container {
    width: 92%;
    margin: 0;
    justify-content: center;
  }
}
.work-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.work-title {
  // margin-top: 120px;
  font-family: "Gotham Ultra";
  font-size: 30px;
  color: #28282a;
}
.work-items {
  margin-top: 120px;
  font-family: "Gotham Ultra";
  font-size: 60px;
  color: #28282a;
}
@media all and (max-width: 768px) {
  .work-container {
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 34px;
  }
  .work-items-container {
    width: 92%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .work-title {
    font-size: 18px;
    height: auto;
    width: 100%;
    // margin-left: 10px;
    // margin-right: 10px;
    margin-bottom: -24px;
  }
  .work-items {
    margin-top: 54px;
    font-size: 30px;
    // margin-left: 10px;
    // margin-right: 10px;
    width: 92%;
    line-height: 38px;
  }
}
.footer {
  height: 240px;
}
@media all and (max-width: 768px) {
  .footer {
    height: 54px;
  }
}
