.navbar {
  width: 100%;
  min-height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar-items-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 230px;
  padding: 0;
}

.navbar-items {
  position: relative;
  width: 25%;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    cursor: pointer;
  }
}

.navbar-text {
  font-family: "Gotham Book";
  width: 243px;
  color: #28282a;
  font-size: 30px;
  left: -4px;
  height: fit-content;
  vertical-align: middle;
  letter-spacing: 0;
  line-height: 36px;
  -webkit-user-select: none;
}

.toast-message {
  position: absolute;
  top: 30px;
  right: 50%;
}

@media all and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    width: 92%;
    margin: 0 auto;
  }

  .navbar-items-container {
    height: 50px;
    margin-top: 20px;
  }

  .navbar-items {
    margin: 0;
    margin-right: 20px;
  }

  .navbar-text {
    font-size: 30px;
    line-height: 36px;
  }

  .no-display {
    display: none;
  }
}
