.navbar {
  width: 100%;
  min-height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar-items-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  padding: 0;
}

.navbar-items {
  position: relative;
  width: 20%;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    cursor: pointer;
  }
}

#copy-email {
  &:hover {
    cursor: copy;
  }
}

.navbar-text {
  font-family: "Gotham-Book";
  width: 243px;
  color: #28282a;
  font-size: 30px;
  left: -4px;
  height: fit-content;
  vertical-align: middle;
  letter-spacing: 0;
  line-height: 36px;
  -webkit-user-select: none;
}

.toast-message {
  top: 30px;
  left: 50%;
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  font-family: "Gotham-Book";
  font-size: 18px;
  background-color: #28282a;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 16px;
  position: fixed;
  z-index: 1;
}

.toast-message.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    top: 30px;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    top: 30px;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}

@media all and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    width: 92%;
    margin: 0 auto;
  }

  .navbar-items-container {
    height: 50px;
    margin-top: 20px;
  }

  .navbar-items {
    margin: 0;
    margin-right: 20px;
  }

  .navbar-text {
    font-size: 30px;
    line-height: 36px;
  }

  .no-display {
    display: none;
  }
}
